* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.topic {
  background-color: #eeeeee;
  width: 300px;
  padding: 10px;
  position: relative;
  margin-right: 30px;
}

.topic:last-child {
  margin-right: 0;
}

.topic-step {
  background-color: #ff9a4b;
  color: #ffffff;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.topic-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.topic-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.topic-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.topic-title {
  padding: 15px 0 5px 0;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 5% 50px 5%;
  }

  .topic {
    width: 90%;
    margin: 0 0 20px 0;
  }

  .topic:last-child {
    margin-bottom: 0;
  }

  .topic-image1 {
    width: 100%;
  }

  .topic-image2 {
    width: 100%;
  }

  .topic-image3 {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}
